body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-status {
  margin-bottom: 10px;
}

.square , .winningSquare, .selectedSquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* Highlights the winning squares when game is won */
.winningSquare {
  background-color: yellow;
}
.square {
  transition-duration: 0.3s;
}

/* Squares already selected are not allowed */
.winningSquare, .selectedSquare {
}

.square:hover {
  background-color: #C5C5C5;
  color: white;
}
.game-history {
  display: inline-block;
}

.moveHistoryDesc{
  font-family: 'Arial';
  display: flex;
  font-wieght: normal;
}

.history-button{
}
